<div id="certification-container">
    <div class="card box-shadow">
        <h2>Certifications</h2>
        {{#if deleteIsClicked}}
            {{#each model as |certificationUnit|}}
                {{delete-certification-listing certification=certificationUnit}}
            {{/each}}
        {{else}}
            {{#each model as |certificationUnit|}}
                {{certification-listing certification=certificationUnit}}
            {{/each}}
        {{/if}}
    </div>
</div>

{{#floating-mobile-buttons position="top left" as |toggleChildren|}}
    {{#floating-mobile-child-buttons label="Save Page as PDF"}}
      <button class="button" {{action "exportAsPdf"}}>PDF</button>
    {{/floating-mobile-child-buttons}}
    {{#floating-mobile-child-buttons label="Add"}}
       <button class="button" {{action "toggleModal"}}>+</button>
    {{/floating-mobile-child-buttons}}
    {{#floating-mobile-child-buttons label="Delete"}}
        {{#if deleteIsClicked}}
            <button class="button" {{action "deleteIsDone"}}>Done</button>
        {{else}}
            <button class="button" {{action "deleteIsClicked"}}>x</button>
        {{/if}}
    {{/floating-mobile-child-buttons}}
{{/floating-mobile-buttons}}


{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    {{input class="" value=newCertification placeholder="Enter Certification name"}}
    <button {{action 'addCertification'}}>Add</button>
  {{/modal-dialog}}
{{/if}}