<div id="container" class="jumbo full-profile-body">
    <div>
        <button class="button" {{action "exportAsPdf"}}>Save Page as PDF</button>
    </div>
    <div class="card box-shadow">
        {{#each model.personal_information as |skillUnit|}}
            {{personal-information-listing pinformation=skillUnit}}
        {{/each}}
    </div>
    <div class="card box-shadow">
        {{#each model.personal_statement as |pstatement|}}
            {{personal-statement-listing pstatement=pstatement}}
        {{/each}}
    </div>
    <div class="card box-shadow">
        <h3>Skills</h3>
        {{#each model.skills as |skillUnit|}}
            {{skill-listing skill=skillUnit}}
        {{/each}}
    </div>
    <div class="card box-shadow">
        <h3>Certifications</h3>
        {{#each model.certifications as |certificationUnit|}}
            {{certification-listing certification=certificationUnit}}
        {{/each}}
    </div>
    <div class="card box-shadow">
        <h3>Past Experience</h3>
        {{#each model.past_project_exp as |pastProjectUnit|}}
            {{past-project-exp-listing pastProjectExp=pastProjectUnit}}
        {{/each}}
    </div>
</div>