<div class="card box-shadow">
    <div class="certifications-li">
        <p>
        {{#each model as |statementUnit|}}
            {{personal-statement-listing pstatement=statementUnit}}
        {{/each}}
        </p>
    </div>
</div>
{{!-- {{#each model as |statement|}}
    {{#if statement}}
        
        {{else}}
        <button class="button" {{action "addStatement"}}>Add new</button>
    {{/if}}
    
{{/each}} --}}
<button class="button" {{action "updateStatement"}}>Update</button>
<button class="button right" {{action "deleteStatement"}}>Delete</button>